body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
/* add product */
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 15px;
}

.container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.container input[type="text"],
.container input[type="number"],
select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.container input[type="file"] {
  margin-top: 5px;
}

.container .btn {
  display: inline-block;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}

.container .btn-nd {
  margin-top: 10px;
  margin-left: 5px;
}

.container .btn-nd:hover {
  background-color: #0056b3;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

/* Header styles */
#heading {
  margin-top: 15px;
  text-decoration: none;
  text-align: center;
}

#heading a {
  text-decoration: none;
  color: #333;
}
#contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact li {
  text-align: center;
  display: inline;
  font-size: 17px;
  margin-left: 10px;
}

#contact a {
  text-decoration: none;
  color: #333;
  margin: 0 5px;
}

#contact a img {
  margin-top: 10px;
  max-width: 40px;
  height: auto;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

#contact a img:hover {
  transform: scale(1.1);
}

#search {
  text-align: center;
  display: flex;
  justify-content: center;
}

#search-input {
  width: 90vw;
  padding: 8px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#search button {
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

#search button:hover {
  background-color: #333;
  color: #fff;
}

/* Main content styles */
main {
  padding: 20px;
}

/* Introduction section */
#introduction h1 {
  margin-bottom: 20px;
  font-size: 2em;
}
#introduction p {
  margin-bottom: 20px;
}

/* Category section */
#category {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  margin-bottom: 40px;
  margin: 2px;
}
#category h2 a {
  text-decoration-line: underline;
}
#category a {
  color: #333;
  text-decoration: none;
}
#category link {
  text-align: center;
  display: block;
}
#category img {
  margin: 2px;
  max-width: 100%;
  height: auto;
}
#category h3 {
  text-decoration: none;
  color: #333;
  margin-top: 10px;
  font-size: 1.1em;
}
/* Style the why-us section */
#why-us {
  text-align: center;
  margin-bottom: 40px;
}

#why-us h2 {
  margin-top: 20px;
  font-weight: bolder;
  font-size: 2.5em;
  margin-bottom: 20px;
}
#why-us p {
  display: inline;
}

#why-us img {
  margin: 10px;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 8px; /* Add rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

/* Cake Size section */
#cake-size {
  text-align: center;
  margin-top: 40px;
}

#cake-size h2 {
  margin-bottom: 20px;
  font-size: 1.8em;
  color: #333;
}

#cake-size ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#cake-size li {
  margin: 10px;
}

#cake-size a {
  text-decoration: none;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#cake-size a:hover {
  background-color: #333;
  color: #fff;
}

/* categories component styles */
.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-img img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.product-name {
  font-weight: bold;
}

.whatsapp-query {
  display: flex;
  align-items: center;
}

.whatsapp-query a img {
  max-width: 30px;
  height: auto;
  border-radius: 50%;
  transition: transform 0.3s ease;
  margin-left: 5px;
}

.whatsapp-query a img:hover {
  transform: scale(1.1);
}

.cake-size-input,
.date-input,
.location-input,
.alternate-number-input {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 10px;
}

.Whatsapp-btn {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.Whatsapp-btn:hover {
  background-color: #0056b3;
}
